body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color: #f1f2f1;
    overflow-x: hidden;
}

header {
    background-color: #303133;
    color: #fff;
    padding: 1.9rem;
    top: 0; 
    width: 100%; 
    z-index: 999; 
}

#main-cont {
    background-color: white;
    width: 75rem;
    height: 80rem;
    margin: 0 auto; 
}
#row2{
    background-color: white;
    width: 75rem;
    height: 60rem;
    margin: 0 auto; 
    margin-top: 2rem;
}
#logo {
    margin-top: 0.8rem;
    margin-left: 4rem;
    width: 13rem; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
}
#sub{
    background-color: #32a801;
    margin-top: 1.2rem;
    padding: 0.7rem;
    justify-content: center;
    cursor: default; /* Set default cursor */
    text-align: center; /* Center align the text */
    color: white; /* Set text color to white */
    font-family: 'Inter', sans-serif; /* Specify Inter font family */
    font-weight: 600; /* Set font weight to semi-bold (600) */
}
#eyes{
    margin-top: 1.8rem;
    margin-left: 2rem;
    width: 53rem;
    height: auto;
    border-radius: 5px;
}
#eyes-link {
    display: block;
    text-decoration: none;
}

#eyes-text {
    width: 50rem;
    margin-top: -8.6rem;
    margin-left: 4rem;
    color: white;
    font-size: 2rem; /* Adjust based on preference */
    font-family: 'Inter', sans-serif; /* Specify Inter font family */
    font-weight: 700;
}
.news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns */
    grid-template-rows: repeat(2, 1fr); /* Creates two rows */
    gap: 1rem; /* Adjust the gap between the items */
    padding: 2rem; /* Padding around the grid */
    height: 37rem;
    width: 54.5rem;
     /* Add margin at the bottom */

}

.news-item {
    overflow: hidden; /* Ensures that the content does not overflow */

  }
  
  .news-item img {
    height: 10rem;
    width: 16rem; /* Maximum width of the image is 100% of its container */
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  #news-text {
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    font-size: 1rem;
    width: 16rem;

}
.news-item:hover {
    cursor: pointer;
}

#searchForm{
    margin-left: 45rem;
    margin-top: -2rem;

}
#searchQuery {
    padding: 0.5rem; /* Add some padding to the input */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add some border radius for rounded corners */
    width: 25rem;
}
#searchSuggestions {
    background: white; 
    border: 1px solid #ddd;
    width: 26rem;

}