<!DOCTYPE html>
<html>
<head>
    <title>Tengrinews</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/eye.css')}}">
</head>
<body>
    <header></header>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <div id="main-cont">
        <img src="{{url_for('static', filename='photos/logo (2).png')}}"  alt="Logo" id="logo">
        <form id="searchForm">
            <input type="text" id="searchQuery" placeholder="Search news..." autocomplete="off">
            <div id="searchSuggestions" style="position: absolute; background: white; border: 1px solid #ddd;"></div>
        </form>
        <div id="sub">Подписывайтесь на канал Tengrinews.kz в WhatsApp </div>
        <p id="date">30 марта 2024 16:19</p>
        <h1 id="h1">Землетрясение ощутили жители Алматы</h1>
        <hr style="width: 70rem;">
        <img src="{{url_for('static', filename='photos/photo_468033.jpeg.png')}}" id="human">
        <div style="width: 55rem; margin-left: 2rem; margin-top: 2rem; font-size: large; font-family: 'Inter', sans-serif; font-weight: 600;">
            Землетрясение ощутили жители Алматы, передает корреспондент Tengrinews.kz.
        </div>
        <hr style="width: 70rem; margin-top: 2rem;">
        <div id="main-text">
            <div style="margin-top: 2rem;">Подземные толчки были зарегистрированы сетью сейсмических станций в 13:46 по времени Астаны.

            </div>

            <div class="info-box" style="margin-top: 2rem;">
                <p>"Эпицентр землетрясения расположен в 460 километрах на юго-восток от Алматы на территории Китая. Энергетический класс землетрясения 12.5. Магнитуда MPV - 5.3", - говорится в сообщении.</p>
            </div>

            <div style="margin-top: 2rem;">В Алматы землетрясение ощущалось силой в 2 балла.</div>


            

            <p id="tag">Землетрясение в Алматы</p>
            <p id="tag">Землетрясение</p>
        
            <!-- Comment Section -->
            <h2>Comments</h2>
            <div id="comments">
                {% for comment in comments %}
                <div class="comment">
                    <p>{{ comment.content }}</p>
                    <small>{{ comment.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                {% endfor %}
            </div>
            
            <!-- Comment form -->
            <form method="POST">
                <label for="comment-input">Leave a comment:</label><br>
                <textarea id="comment-input" name="comment-input"></textarea><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
