<!DOCTYPE html>
<html>
<head>
    <title>Tengrinews</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    
</head>
<body>
    <header></header>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <div id="main-cont">

        <img src="{{url_for('static', filename='photos/logo (2).png')}}"  alt="Logo" id="logo">
        

    <form id="searchForm">
        <input type="text" id="searchQuery" placeholder="Search news..." autocomplete="off">
        <div id="searchSuggestions" style="position: absolute; background: white; border: 1px solid #ddd;"></div>
    </form>
        <div id="sub">Подписывайтесь на канал Tengrinews.kz в WhatsApp </div>

        <div id="filter">
        <select id="filterChoice">
            <option value="Последние">Последние</option>
            <option value="Ранние">Ранние</option>
        </select>    
        <div id="scrolable">
            <div id="newsContainer"></div>
        </div>
        </div>

        <div id="news">
            <a href="{{url_for('corrution')}}" id="eyes-link">
                <img src="{{url_for('static', filename='photos/eyes.png')}}" alt="News" id="eyes">
                <div id="eyes-text">Демпинг, мафия жалобщиков и прозрачность: что изменит новый закон о госзакупках</div>
                <div style="color: white; font-size: small; margin-left: 4rem; margin-top: 2rem;
                font-family: 'Inter', sans-serif; 
                font-weight: 200;">10 апреля 2024</div>
            </a>
        </div>
    
        <div class="news-grid">
            <!-- Six placeholders for news items -->
            <div class="news-item" id="news-text" data-route="/tokaev" ><img src="{{url_for('static', filename='photos/photo_467829.jpeg')}}">Токаев прилетел в Узбекситан</div>
            <div class="news-item" id="news-text" data-route="/aktobe"><img src="{{url_for('static', filename='photos/photo_467838.jpeg')}}">Как выглядит прорванная плотина в Актюбинской области</div>
            <div class="news-item" id="news-text" data-route="/turkistan"><img src="{{url_for('static', filename='photos/photo_3494.jpeg')}}">В тени Туркестана. Почему мужчины покидают "райский" город на юге Казахстана</div>
            <div class="news-item" id="news-text" data-route="/earn"><img src="{{url_for('static', filename='photos/photo_467839.jpeg')}}">Как заработать столько денег, чтобы можно было не работать в Казахстане</div>
            <div class="news-item" id="news-text" data-route="/kazavto"><img src="{{url_for('static', filename='photos/photo_467662.jpeg.png')}}">Задержан экс-председатель правления "КазАвтоЖола"</div>
            <div class="news-item" id="news-text" data-route="/nazbank"><img src="{{url_for('static', filename='photos/photo_467710.jpg.png')}}">Нацбанк предупредил казахстанцев</div>
        </div>
        
    </div>


    <div id="row2"> 
        <div id="paginationNewsContainer" style="padding-top: 10rem;">
            <!-- Page 1 -->
            <div class="news-page" id="page1">
                <div  class="news-item" id="news-item-row" data-route="/babushka"><img src="{{url_for('static', filename='photos/photo_3503.jpeg.png')}}" id="photo">Сделано бабушкой. Кто и почему продает закрутки на улицах Астаны? </div>
                <div  class="news-item" id="news-item-row" data-route="/voda"><img src="{{url_for('static', filename='photos/photo_3498.jpeg.png')}}" id="photo">"Вода зашла во все дома": где нашли пристанище казахстанцы, чьи дома затопили паводки</div>
                <div class="news-item" id="news-item-row" data-route="/akim"><img src="{{url_for('static', filename='photos/photo_468043.jpeg.png')}}" id="photo">Аким Костаная обратился к жителям города с просьбой </div>

            </div>
            <!-- Page 2 -->
            <div class="news-page" id="page2">
                <div  class="news-item" id="news-item-row" data-route="/earthquake"><img src="{{url_for('static', filename='photos/photo_468033.jpeg.png')}}" id="photo">Землетрясение ощутили жители Алматы</div>
                <div  class="news-item" id="news-item-row" data-route="/bishimbaev"><img src="{{url_for('static', filename='photos/photo_468156.jpg')}}" id="photo">"Вы что, идеальный человек?" - вопросы присяжных зачитали в суде над Бишимбаевым</div>
                <div class="news-item" id="news-item-row"><img src="{{url_for('static', filename='photos/photo_467829.jpeg')}}" id="photo">Задержан экс-председатель правления "КазАвтоЖола"</div>
            </div>
            <!-- Page 3 -->
            <div class="news-page" id="page3">
                <div class="news-item" id="news-item-row"><img src="{{url_for('static', filename='photos/photo_467829.jpeg')}}" id="photo">Задержан экс-председатель правления "КазАвтоЖола" </div>
                <div class="news-item" id="news-item-row"><img src="{{url_for('static', filename='photos/photo_467829.jpeg')}}" id="photo">Задержан экс-председатель правления "КазАвтоЖола"</div>
                <div class="news-item" id="news-item-row"><img src="{{url_for('static', filename='photos/photo_467829.jpeg')}}" id="photo">Задержан экс-председатель правления "КазАвтоЖола"</div>
            </div>
        </div>
        <div id="paginationControls"></div>
        
    </div>
    
</body>
</html>
