<!DOCTYPE html>
<html>
<head>
    <title>Tengrinews</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    
</head>
<body>
    <header></header>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <div id="main-cont">

        <img src="{{url_for('static', filename='photos/logo (2).png')}}"  alt="Logo" id="logo">
        

    <form id="searchForm">
        <input type="text" id="searchQuery" placeholder="Search news..." autocomplete="off">
        <div id="searchSuggestions" style="position: absolute; background: white; border: 1px solid #ddd;"></div>
    </form>
        <div id="sub">Подписывайтесь на канал Tengrinews.kz в WhatsApp </div>
        <div id="news">
            <a href="{{url_for('corrution')}}" id="eyes-link">
                <img src="{{url_for('static', filename='photos/eyes.png')}}" alt="News" id="eyes">
                <div id="eyes-text">Демпинг, мафия жалобщиков и прозрачность: что изменит новый закон о госзакупках</div>
                <div style="color: white; font-size: small; margin-left: 4rem; margin-top: 2rem;
                font-family: 'Inter', sans-serif; 
                font-weight: 200;">Сегодня в 13:05</div>
            </a>
        </div>
    
        <div class="news-grid">
            <!-- Six placeholders for news items -->
            <div class="news-item" id="news-text" data-route="/tokaev" ><img src="{{url_for('static', filename='photos/photo_467829.jpeg')}}">Токаев прилетел в Узбекситан</div>
            <div class="news-item" id="news-text" data-route="/aktobe"><img src="{{url_for('static', filename='photos/photo_467838.jpeg')}}">Как выглядит прорванная плотина в Актюбинской области</div>
            <div class="news-item" id="news-text" data-route="/turkistan"><img src="{{url_for('static', filename='photos/photo_3494.jpeg')}}">В тени Туркестана. Почему мужчины покидают "райский" город на юге Казахстана</div>
            <div class="news-item" id="news-text" data-route="/earn"><img src="{{url_for('static', filename='photos/photo_467839.jpeg')}}">Как заработать столько денег, чтобы можно было не работать в Казахстане</div>
            <div class="news-item" id="news-text" data-route="/kazavto"><img src="{{url_for('static', filename='photos/photo_467662.jpeg.png')}}">Задержан экс-председатель правления "КазАвтоЖола"</div>
            <div class="news-item" id="news-text" data-route="/nazbank"><img src="{{url_for('static', filename='photos/photo_467710.jpg.png')}}">Нацбанк предупредил казахстанцев</div>
        </div>
        
    </div>


    <div id="row2"></div>
</body>
</html>
